body 
{
    background-image: url('hatterkep.jpg');
    color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 18px;
}
h2
{
    text-align: center;
    
}
footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0.95;
}
h1
{
    color: red;
}